*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "popins", sans-serif ;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:rgb(93, 3, 3);
    background-image:url(../Homework/anagi\ registre.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

